.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u552-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u544-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u12020-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u530-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6368-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u5845-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u558-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u663-4,#u673-4,#u681-4
{
	font-family: chunk-n4, serif;
}

#u6753-4,#u6754-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

