.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u11752-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11710-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11928-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11746-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11726-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11739-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11719-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u8608-4,#u7287-2,#u7318-2,#u7362-2,#u7394-2,#u7435-2,#u7458-2
{
	font-family: exo-n5, sans-serif;
}

#u7287-3,#u7287-5,#u7287-6,#u7287-8,#u7318-3,#u7318-5,#u7318-6,#u7318-8,#u7362-3,#u7362-5,#u7394-3,#u7394-5,#u7435-3,#u7435-5,#u7458-3,#u7458-5
{
	font-family: exo-n4, sans-serif;
}

#u6757-4,#u6758-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

