.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u11752-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11710-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11928-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11746-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11726-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11739-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11719-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u5821-4,#u5828-4
{
	font-family: exo-n5, sans-serif;
}

#u5825-4
{
	font-family: exo-n5, sans-serif;
}

#u5830-4
{
	font-family: exo-n5, sans-serif;
}

#u5832-4
{
	font-family: exo-n5, sans-serif;
}

#u5836-4
{
	font-family: exo-n5, sans-serif;
}

#u5834-4
{
	font-family: exo-n5, sans-serif;
}

#u5839-4
{
	font-family: exo-n5, sans-serif;
}

#u5840-4
{
	font-family: exo-n5, sans-serif;
}

#u17440-4
{
	font-family: exo-n5, sans-serif;
}

#u5849-4,#u5886-4
{
	font-family: exo-n5, sans-serif;
}

#u5887-6
{
	font-family: exo-n4, sans-serif;
}

#u5887-2,#u5885-4
{
	font-family: exo-n5, sans-serif;
}

#u5888-4
{
	font-family: exo-n5, sans-serif;
}

#u5890-4
{
	font-family: exo-n5, sans-serif;
}

#u5891-4
{
	font-family: exo-n5, sans-serif;
}

#u5848-4,#u5860-4
{
	font-family: exo-n5, sans-serif;
}

#u5861-4
{
	font-family: exo-n5, sans-serif;
}

#u5873-4
{
	font-family: exo-n5, sans-serif;
}

#u5874-4
{
	font-family: exo-n5, sans-serif;
}

#u5859-4
{
	font-family: exo-n5, sans-serif;
}

#u5872-4
{
	font-family: exo-n5, sans-serif;
}

#u5871-4
{
	font-family: exo-n5, sans-serif;
}

#u5875-4
{
	font-family: exo-n5, sans-serif;
}

#u5857-4
{
	font-family: exo-n5, sans-serif;
}

#u5863-4
{
	font-family: exo-n5, sans-serif;
}

#u5858-4
{
	font-family: exo-n5, sans-serif;
}

#u5870-4
{
	font-family: exo-n5, sans-serif;
}

#u5856-4
{
	font-family: exo-n5, sans-serif;
}

#u6748-4,#u6749-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

