.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u11752-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11710-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11928-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11746-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11726-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11739-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11719-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2279-4
{
	font-family: source-sans-pro-i7, sans-serif;
}

#u2268-10,#u12774-4,#u13386-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13392-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u13397-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu13384_input,#widgetu13384_prompt,#widgetu13389_input,#widgetu13389_prompt,#widgetu13395_input,#widgetu13395_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#widgetu13382.frm-sub-st #u13383-4 p,#u13451-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13472-4
{
	font-family: montserrat-n4, sans-serif;
}

#u13476-4
{
	font-family: montserrat-n4, sans-serif;
}

#u8910-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6761-4,#u6762-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

