.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u11752-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11710-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11928-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11746-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11726-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11739-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u11719-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2231-4,#u1301-4,#u2218-4,#u2171-4,#u2222-4,#u2211-4,#u2220-4,#u1324-4,#u5050-4,#u5051-4,#u5052-4,#u5053-4,#u5054-4,#u5055-4,#u1289-4,#u5020-4,#u5021-4,#u5022-4,#u5023-4,#u5024-4,#u5025-4,#u1329-4,#u5080-4,#u5081-4,#u5082-4,#u5083-4,#u5084-4,#u5085-4,#u17875-4,#u17876-4,#u17877-4,#u17878-4,#u17879-4,#u17880-4,#u17881-4,#u1355-4
{
	font-family: exo-n5, sans-serif;
}

#u6662-4,#u1354:hover #u1357-4 p
{
	font-family: exo-n4, sans-serif;
}

#u1349-4
{
	font-family: exo-n5, sans-serif;
}

#u1354.PamphletThumbSelected #u1357-4 p,#u1346:hover #u1348-4 p
{
	font-family: exo-n4, sans-serif;
}

#u1368-4
{
	font-family: exo-n5, sans-serif;
}

#u1346.PamphletThumbSelected #u1348-4 p,#u1366:hover #u1369-4 p
{
	font-family: exo-n4, sans-serif;
}

#u1353-4
{
	font-family: exo-n5, sans-serif;
}

#u1366.PamphletThumbSelected #u1369-4 p,#u1350:hover #u1351-4 p
{
	font-family: exo-n4, sans-serif;
}

#u1350:active #u1351-4 p
{
	font-family: exo-n4, sans-serif;
}

#u17846-4
{
	font-family: exo-n5, sans-serif;
}

#u1350.PamphletThumbSelected #u1351-4 p,#u17835:hover #u17847-4 p
{
	font-family: exo-n4, sans-serif;
}

#u17835.PamphletThumbSelected #u17847-4 p
{
	font-family: exo-n4, sans-serif;
}

#u1425-6
{
	font-family: exo-n5, sans-serif;
}

#u7990-4
{
	font-family: montserrat-n4, sans-serif;
}

#u7985-4
{
	font-family: montserrat-n4, sans-serif;
}

#widgetu7978.frm-sub-st #u7996-4 p,#u8824-4
{
	font-family: montserrat-n4, sans-serif;
}

#widgetu7988_input,#widgetu7988_prompt,#widgetu7984_input,#widgetu7984_prompt,#widgetu8823_input,#widgetu8823_prompt
{
	font-family: montserrat, sans-serif;
}

#u8912-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u6755-4,#u6756-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

