#u11706
{
	border-style: none;
	border-color: transparent;
	background-color: #2F6482;
	position: fixed;
}

#u11758
{
	background-color: transparent;
	position: fixed;
}

#u11760
{
	position: fixed;
	background: transparent url("../images/fb-u9209-fr.png") no-repeat left top;
	background-size: contain;
}

#u11760:hover
{
	background: transparent url("../images/fb-u9209-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11760.MuseLinkActive
{
	background: transparent url("../images/fb-u9209-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11763
{
	position: fixed;
	background: transparent url("../images/tripadv-u9212-fr.png") no-repeat left top;
	background-size: contain;
}

#u11763:hover
{
	background: transparent url("../images/tripadv-u9212-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11763.MuseLinkActive
{
	background: transparent url("../images/tripadv-u9212-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11762
{
	position: fixed;
	background: transparent url("../images/viator-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u11762:hover
{
	background: transparent url("../images/viator-layer%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u11762.MuseLinkActive
{
	background: transparent url("../images/viator-layer%201%20copy%202.png") no-repeat left top;
	background-size: contain;
}

#u11761
{
	position: fixed;
	background: transparent url("../images/twitter-u9210-fr.png") no-repeat left top;
	background-size: contain;
}

#u11761:hover
{
	background: transparent url("../images/twitter-u9210-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11761.MuseLinkActive
{
	background: transparent url("../images/twitter-u9210-r-fr.png") no-repeat left top;
	background-size: contain;
}

#menuu11707
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u11751
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11751:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11752-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11709
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11709:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11710-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11927
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11927:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11928-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11744
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11744:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11746-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11723
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11723:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11726-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11737
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11737:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11739-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u11750,#u11708,#u11926,#u11743,#u11722,#u11736,#u11715
{
	background-color: transparent;
	position: relative;
}

#u11718
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u11718:hover
{
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u11751.MuseMenuActive,#u11709.MuseMenuActive,#u11927.MuseMenuActive,#u11744.MuseMenuActive,#u11723.MuseMenuActive,#u11737.MuseMenuActive,#u11718.MuseMenuActive
{
	border-style: solid;
	border-color: #EBEBEB;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-width: 1px 0px;
}

#u11719-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u11757
{
	border-color: #000000;
	background-color: #787878;
	position: fixed;
}

