.version.about /* version checker */
{
	color: #000014;
	background-color: #A88CD2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2774px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -4px;
	padding-top: 12px;
	width: 0.01px;
}

#accordionu9053
{
	z-index: 81;
	width: 380px;
	top: 0px;
	left: 0px;
}

#u9054
{
	z-index: 82;
	width: 380px;
}

#u9055-3
{
	z-index: 83;
	width: 370px;
	min-height: 71px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u9055-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 71px;
	width: 370px;
	margin: 0px;
}

#u9056
{
	z-index: 86;
	width: 380px;
	padding-bottom: 10px;
}

#menuu9057
{
	z-index: 87;
	width: 340px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 18px;
}

#u9058
{
	width: 340px;
}

#u9059
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u9059:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9060-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9059:hover #u9060-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9082
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u9059.MuseMenuActive,#u9082:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9083-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9059.MuseMenuActive #u9060-4,#u9082:hover #u9083-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9066
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u9082.MuseMenuActive,#u9066:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9067-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9082.MuseMenuActive #u9083-4,#u9066:hover #u9067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u11922
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u9066.MuseMenuActive,#u11922:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u11924-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9066.MuseMenuActive #u9067-4,#u11922:hover #u11924-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9073
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u11922.MuseMenuActive,#u9073:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9075-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u11922.MuseMenuActive #u11924-4,#u9073:hover #u9075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9189
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u9073.MuseMenuActive,#u9189:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9191-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9073.MuseMenuActive #u9075-4,#u9189:hover #u9191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9198
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u9189.MuseMenuActive,#u9198:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9199-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9189.MuseMenuActive #u9191-4,#u9198:hover #u9199-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9079,#u9065,#u11919,#u9072,#u9188,#u9195,#u9202
{
	width: 340px;
	margin-top: 2px;
}

#u9203
{
	width: 340px;
	min-height: 18px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u9198.MuseMenuActive,#u9203:hover
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9203.MuseMenuActive
{
	width: 340px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u9206-4
{
	width: 340px;
	min-height: 18px;
	margin-right: -10000px;
	top: 4px;
}

#u9198.MuseMenuActive #u9199-4,#u9203:hover #u9206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9203.MuseMenuActive #u9206-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#u9221
{
	z-index: 139;
	width: 251px;
	top: 9px;
	left: 47px;
}

#u9221_img
{
	padding: 1px 16px 5px 17px;
}

#u10864
{
	z-index: 141;
	width: 197px;
	height: 59px;
	margin-left: 80px;
}

.ie #u10864
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu9087
{
	width: 0.01px;
	padding-bottom: 31px;
	margin-left: 308px;
	margin-top: -41px;
}

#u9087
{
	z-index: 138;
	width: 47px;
	height: 6px;
	top: 30px;
	left: 308px;
}

#u9088
{
	z-index: 136;
	width: 47px;
	height: 6px;
	top: 42px;
	left: 308px;
}

#u9089
{
	z-index: 137;
	width: 47px;
	height: 6px;
	top: 55px;
	left: 308px;
}

#u8963
{
	z-index: 2;
	width: 176px;
	background-color: transparent;
	margin-left: 97px;
	margin-top: 51px;
	position: relative;
}

#u8965-24
{
	z-index: 4;
	width: 351px;
	min-height: 510px;
	background-color: transparent;
	font-size: 19px;
	line-height: 23px;
	margin-left: 17px;
	margin-top: 36px;
	position: relative;
}

#u8965-2,#u8965-3
{
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u8965,#u8965-5,#u8965-6,#u8965-8,#u8965-9,#u8965-11,#u8965-12,#u8965-14,#u8965-15,#u8965-19,#u8965-20,#u8965-22
{
	color: #000000;
	font-family: exo, sans-serif;
	font-weight: 500;
}

#u12420
{
	z-index: 43;
	width: 194px;
	background-color: transparent;
	margin-left: 93px;
	margin-top: 31px;
	position: relative;
}

#u12419-13
{
	z-index: 30;
	width: 346px;
	min-height: 336px;
	background-color: transparent;
	color: #000000;
	font-size: 19px;
	line-height: 23px;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 17px;
	margin-top: 31px;
	position: relative;
}

#u8971
{
	z-index: 28;
	width: 274px;
	background-color: transparent;
	margin-left: 49px;
	margin-top: 34px;
	position: relative;
}

#pu9052
{
	width: 0.01px;
	margin-top: 68px;
}

#u9052
{
	z-index: 45;
	height: 46px;
}

#u9052-bw
{
	z-index: 45;
	margin-top: 280px;
	height: 46px;
}

#u9051
{
	z-index: 46;
	min-height: 300px;
	padding: 12px 71px 16px 16px;
}

#pu9209
{
	width: 0.01px;
	margin-left: 55px;
	position: relative;
}

#u9209
{
	z-index: 47;
	width: 33px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u9209:hover
{
	width: 33px;
	height: 28px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u9209.MuseLinkActive
{
	width: 33px;
	height: 28px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u9212
{
	z-index: 50;
	width: 45px;
	height: 36px;
	margin-right: -10000px;
	left: 64px;
}

#u9212:hover
{
	width: 45px;
	height: 36px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9212.MuseLinkActive
{
	width: 45px;
	height: 36px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9210
{
	z-index: 48;
	width: 30px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 140px;
}

#u9210:hover
{
	width: 30px;
	height: 28px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u9210.MuseLinkActive
{
	width: 30px;
	height: 28px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u9211
{
	z-index: 49;
	width: 37px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 201px;
}

#u9211:hover
{
	width: 37px;
	height: 27px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u9211.MuseLinkActive
{
	width: 37px;
	height: 27px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u9096-4
{
	z-index: 56;
	width: 122px;
	min-height: 10px;
	margin-top: 83px;
}

#u9097-4
{
	z-index: 60;
	width: 181px;
	min-height: 10px;
	margin-top: 12px;
}

#u9098-4
{
	z-index: 64;
	width: 233px;
	min-height: 10px;
	margin-top: 11px;
}

#u9090-5
{
	z-index: 51;
	width: 259px;
	min-height: 21px;
	margin-top: 6px;
}

#u9099-4
{
	z-index: 68;
	width: 138px;
	min-height: 11px;
	margin-left: 59px;
	margin-top: 16px;
}

#u9101-5
{
	z-index: 76;
	width: 204px;
	min-height: 19px;
	margin-left: 78px;
	margin-top: 20px;
}

#u9051-bw
{
	z-index: 46;
	min-height: 300px;
}

#u9100-4
{
	z-index: 72;
	width: 138px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 255px;
	left: 16px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

