.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u8599.MuseMenuActive #u8601-4 p,#u8592.MuseMenuActive #u8595-4 p,#u8569.MuseMenuActive #u8570-4 p,#u8585.MuseMenuActive #u8586-4 p,#u11934.MuseMenuActive #u11937-4 p,#u8564.MuseMenuActive #u8567-4 p,#u8578.MuseMenuActive #u8581-4 p
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u8570-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u8567-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u11937-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u8601-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u8581-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u8586-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u8595-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

