.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u9060-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9083-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9067-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u11924-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9075-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9191-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9199-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9206-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9096-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u9097-4,#u9098-4,#u9090-5,#u9099-4,#u9100-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u10068-4,#u10079-2,#u10092-2,#u10011-2,#u10032-2,#u10041-2,#u10056-2
{
	font-family: exo-n5, sans-serif;
}

#u10079-3,#u10079-5,#u10079-6,#u10079-8,#u10092-3,#u10092-5,#u10092-6,#u10092-8,#u10011-3,#u10011-5,#u10032-3,#u10032-5,#u10041-3,#u10041-5,#u10056-3,#u10056-5
{
	font-family: exo-n4, sans-serif;
}

