.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u9060-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9083-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9067-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u11924-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9075-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9191-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9199-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9206-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9096-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u9097-4,#u9098-4,#u9090-5,#u9099-4,#u9100-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u10305-4,#u10332-4
{
	font-family: exo-n5, sans-serif;
}

#u10308-4
{
	font-family: exo-n5, sans-serif;
}

#u10312-4
{
	font-family: exo-n5, sans-serif;
}

#u10316-4
{
	font-family: exo-n5, sans-serif;
}

#u10323-4
{
	font-family: exo-n5, sans-serif;
}

#u10320-4
{
	font-family: exo-n5, sans-serif;
}

#u10330-4
{
	font-family: exo-n5, sans-serif;
}

#u10331-4
{
	font-family: exo-n5, sans-serif;
}

#u17433-4
{
	font-family: exo-n5, sans-serif;
}

#u10307-4,#u10334-4
{
	font-family: exo-n5, sans-serif;
}

#u10310-4
{
	font-family: exo-n5, sans-serif;
}

#u10314-6
{
	font-family: exo-n4, sans-serif;
}

#u10314-2,#u10318-4
{
	font-family: exo-n5, sans-serif;
}

#u10325-4
{
	font-family: exo-n5, sans-serif;
}

#u10328-4
{
	font-family: exo-n5, sans-serif;
}

#u10306-4,#u10317-4
{
	font-family: exo-n5, sans-serif;
}

#u10309-4
{
	font-family: exo-n5, sans-serif;
}

#u10333-4
{
	font-family: exo-n5, sans-serif;
}

#u10319-4
{
	font-family: exo-n5, sans-serif;
}

#u10313-4
{
	font-family: exo-n5, sans-serif;
}

#u10315-4
{
	font-family: exo-n5, sans-serif;
}

#u10322-4
{
	font-family: exo-n5, sans-serif;
}

#u10326-4
{
	font-family: exo-n5, sans-serif;
}

#u10311-4
{
	font-family: exo-n5, sans-serif;
}

#u10321-4
{
	font-family: exo-n5, sans-serif;
}

#u10327-4
{
	font-family: exo-n5, sans-serif;
}

#u10329-4
{
	font-family: exo-n5, sans-serif;
}

#u10324-4
{
	font-family: exo-n5, sans-serif;
}

