.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u9060-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9083-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9067-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u11924-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9075-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9191-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9199-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9206-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u9096-4
{
	font-family: ubuntu-n7, sans-serif;
}

#u9097-4,#u9098-4,#u9090-5,#u9099-4,#u9100-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u10265-4,#u10262-3,#u10262-5,#u10262-7,#u10262-9,#u10262-11,#u10262-13,#u10262-15,#u10262-17,#u10262-19,#u10262-21,#u10262-23,#u10262-25,#u10262-27,#u10262-29,#u10262-31,#u10262-33,#u10262-34
{
	font-family: exo-n5, sans-serif;
}

