.version.index /* version checker */
{
	color: #000017;
	background-color: #4F9706;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u8401
{
	z-index: 2;
	width: 427px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -47px;
	left: -25px;
}

#u17387
{
	z-index: 4;
	width: 428px;
	background-color: #58839B;
	background-color: rgba(47,100,130,0.8);
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: -47px;
	left: -25px;
	-pie-background: rgba(47,100,130,0.8);
}

#u12217
{
	z-index: 7;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 49px;
}

#u12214
{
	z-index: 5;
	width: 152px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 230px;
}

#u8550
{
	z-index: 9;
	width: 315px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 38px;
}

#u8552
{
	z-index: 11;
	width: 315px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 38px;
}

#u8554
{
	z-index: 13;
	width: 315px;
	background-color: transparent;
	opacity: 0.28;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.000000000000004)";
	filter: alpha(opacity=28.000000000000004);
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 38px;
}

#u8556
{
	z-index: 15;
	width: 281px;
	background-color: transparent;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 56px;
}

#u8556_img
{
	padding-right: 1px;
	padding-bottom: 24px;
}

#menuu8560
{
	z-index: 17;
	width: 222px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 89px;
}

#u8568
{
	width: 222px;
	background-color: transparent;
	position: relative;
}

#u8569
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8570-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u8569:hover #u8570-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8564
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u8567-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u8564:hover #u8567-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u11934
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u11937-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u11934:hover #u11937-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8599
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u8601-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u8599:hover #u8601-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8578
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u8581-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u8578:hover #u8581-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8585
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u8586-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u8585:hover #u8586-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8561,#u11933,#u8596,#u8575,#u8582,#u8589
{
	width: 222px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u8592
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u8569:hover,#u8564:hover,#u11934:hover,#u8599:hover,#u8578:hover,#u8585:hover,#u8592:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 222px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u8595-4
{
	width: 222px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u8592:hover #u8595-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 222px;
	margin: 0px -10000px 0px 0px;
}

#u8569.MuseMenuActive #u8570-4,#u8564.MuseMenuActive #u8567-4,#u11934.MuseMenuActive #u11937-4,#u8599.MuseMenuActive #u8601-4,#u8578.MuseMenuActive #u8581-4,#u8585.MuseMenuActive #u8586-4,#u8592.MuseMenuActive #u8595-4
{
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 222px;
	margin: 0px -10000px -1px 0px;
	border-width: 1px 0px;
}

#u8569.MuseMenuActive #u8570-4 p,#u8564.MuseMenuActive #u8567-4 p,#u11934.MuseMenuActive #u11937-4 p,#u8599.MuseMenuActive #u8601-4 p,#u8578.MuseMenuActive #u8581-4 p,#u8585.MuseMenuActive #u8586-4 p,#u8592.MuseMenuActive #u8595-4 p
{
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

