#accordionu9053
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
}

#u9055-3
{
	border-color: #FFFFFF;
	background-color: #2F6482;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u9056
{
	border-color: #FFFFFF;
	background-color: #545455;
	background-color: rgba(81,81,82,0.98);
	position: relative;
	-pie-background: rgba(81,81,82,0.98);
}

#menuu9057
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9059
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9059:hover
{
	border-color: #002839;
}

#u9060-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9059:hover #u9060-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9082
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9059.MuseMenuActive,#u9082:hover
{
	border-color: #002839;
}

#u9083-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9059.MuseMenuActive #u9060-4 p,#u9082:hover #u9083-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9066
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9082.MuseMenuActive,#u9066:hover
{
	border-color: #002839;
}

#u9067-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9082.MuseMenuActive #u9083-4 p,#u9066:hover #u9067-4 p
{
	color: #002839;
	visibility: inherit;
}

#u11922
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9066.MuseMenuActive,#u11922:hover
{
	border-color: #002839;
}

#u11924-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9066.MuseMenuActive #u9067-4 p,#u11922:hover #u11924-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9073
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u11922.MuseMenuActive,#u9073:hover
{
	border-color: #002839;
}

#u9075-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u11922.MuseMenuActive #u11924-4 p,#u9073:hover #u9075-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9189
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9073.MuseMenuActive,#u9189:hover
{
	border-color: #002839;
}

#u9191-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9073.MuseMenuActive #u9075-4 p,#u9189:hover #u9191-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9198
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9189.MuseMenuActive,#u9198:hover
{
	border-color: #002839;
}

#u9199-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9189.MuseMenuActive #u9191-4 p,#u9198:hover #u9199-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9054,#u9058,#u9079,#u9065,#u11919,#u9072,#u9188,#u9195,#u9202
{
	background-color: transparent;
	position: relative;
}

#u9203
{
	border-style: solid;
	border-color: #E9BA00;
	background-color: transparent;
	position: relative;
	border-width: 0px 0px 1px;
}

#u9198.MuseMenuActive,#u9203:hover
{
	border-color: #002839;
}

#u9203.MuseMenuActive
{
	border-color: #002839;
}

#u9206-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E9BA00;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: ubuntu, sans-serif;
	font-weight: 500;
	position: relative;
}

#u9059.MuseMenuActive #u9060-4,#u9082.MuseMenuActive #u9083-4,#u9066.MuseMenuActive #u9067-4,#u11922.MuseMenuActive #u11924-4,#u9073.MuseMenuActive #u9075-4,#u9189.MuseMenuActive #u9191-4,#u9198.MuseMenuActive #u9199-4,#u9203.MuseMenuActive #u9206-4
{
	border-style: none;
	border-color: transparent;
}

#u9198.MuseMenuActive #u9199-4 p,#u9203:hover #u9206-4 p
{
	color: #002839;
	visibility: inherit;
}

#u9203.MuseMenuActive #u9206-4 p
{
	color: #002839;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u9221
{
	background-color: transparent;
	position: fixed;
}

#u10864
{
	position: relative;
}

#u9087,#u9088,#u9089
{
	border-style: none;
	border-color: transparent;
	background-color: #E4BE22;
	position: fixed;
}

#u9052
{
	border-color: #000000;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u9051
{
	border-color: #000000;
	background-color: #515152;
}

#u9209
{
	position: relative;
	background: transparent url("../../images/fb-u9209-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9209:hover
{
	background: transparent url("../../images/fb-u9209-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9209.MuseLinkActive
{
	background: transparent url("../../images/fb-u9209-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9212
{
	position: relative;
	background: transparent url("../../images/tripadv-u9212-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9212:hover
{
	background: transparent url("../../images/tripadv-u9212-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9212.MuseLinkActive
{
	background: transparent url("../../images/tripadv-u9212-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9210
{
	position: relative;
	background: transparent url("../../images/twitter-u9210-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9210:hover
{
	background: transparent url("../../images/twitter-u9210-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9210.MuseLinkActive
{
	background: transparent url("../../images/twitter-u9210-r-fr.png") no-repeat left bottom;
	background-size: contain;
}

#u9211
{
	position: relative;
	background: transparent url("../../images/viator-layer%201%20copy.png") no-repeat left bottom;
	background-size: contain;
}

#u9211:hover
{
	background: transparent url("../../images/viator-layer%201%20copy%202.png") no-repeat left bottom;
	background-size: contain;
}

#u9211.MuseLinkActive
{
	background: transparent url("../../images/viator-layer%201%20copy%202.png") no-repeat left bottom;
	background-size: contain;
}

#u9096-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9097-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u9097
{
	font-size: 16px;
	line-height: 19px;
}

#u9098-4
{
	background-color: transparent;
	text-align: left;
	line-height: 19px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#u9090-5
{
	background-color: transparent;
	text-align: left;
	line-height: 25px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9101-5
{
	background-color: transparent;
	line-height: 18px;
	position: relative;
}

#u9101-3
{
	font-size: 15px;
	text-align: left;
	color: #C1C1C1;
}

#u9097-4,#u9099-4,#u9100-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

