.version.contact /* version checker */
{
	color: #000012;
	background-color: #98BE26;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u17227
{
	z-index: 2;
	min-height: 772px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u17227-bw
{
	z-index: 2;
	min-height: 772px;
	margin-top: 114px;
}

#u17229
{
	z-index: 3;
	width: 352px;
	border-color: #000000;
	background-color: #515152;
	position: relative;
	margin-right: -10000px;
	margin-top: 219px;
	left: 10px;
	padding: 9px 25px 173.4000000000006px 11px;
}

#u17230-10
{
	z-index: 4;
	width: 348px;
	min-height: 107px;
	border-color: #000000;
	background-color: transparent;
	color: #E9BA00;
	text-align: left;
	font-size: 21px;
	line-height: 25px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	position: relative;
}

#u17231-4
{
	z-index: 14;
	width: 250px;
	min-height: 43px;
	border-color: #000000;
	background-color: transparent;
	color: #E9BA00;
	font-size: 27px;
	line-height: 32px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	font-style: italic;
	margin-left: 3px;
	margin-top: 32px;
	position: relative;
}

#u17234-4
{
	z-index: 19;
	width: 264px;
	min-height: 23px;
	background-color: transparent;
	color: #54B6D1;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 203px;
	position: relative;
}

#u17232
{
	z-index: 18;
	width: 216px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 269px;
}

#widgetu17235
{
	z-index: 23;
	width: 0.01px;
	height: 386px;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 21px;
}

#widgetu17246
{
	z-index: 24;
	width: 361px;
	height: 54px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#widgetu17246.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 361px;
	height: 54px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17248-4
{
	z-index: 25;
	width: 342px;
	min-height: 42px;
	border-color: #54B6D1;
	background-color: #6E6E6F;
	color: #54B6D1;
	line-height: 42px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 13px;
}

.html,#widgetu17246.non-empty-st #u17248-4
{
	background-color: #FFFFFF;
}

#widgetu17246:hover #u17248-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17246.focus-st #u17248-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17246.non-empty-st #u17248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17246:hover #u17248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17246.focus-st #u17248-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17242
{
	z-index: 29;
	width: 361px;
	height: 54px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 2px;
}

#widgetu17242.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 361px;
	height: 54px;
	min-height: 0px;
	margin: 70px -10000px 0px 0px;
}

#u17243-4
{
	z-index: 30;
	width: 342px;
	min-height: 42px;
	border-color: #54B6D1;
	background-color: #6E6E6F;
	color: #54B6D1;
	line-height: 42px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 13px;
}

#widgetu17242.non-empty-st #u17243-4
{
	background-color: #FFFFFF;
}

#widgetu17242:hover #u17243-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17242.focus-st #u17243-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17242.non-empty-st #u17243-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17242:hover #u17243-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17242.focus-st #u17243-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u17241-4
{
	z-index: 34;
	width: 165px;
	min-height: 14px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 216px;
}

#widgetu17235.frm-sub-st #u17241-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 18px;
}

#widgetu17235.frm-sub-st #u17241-4 p
{
	color: #999999;
	line-height: 1;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u17240-4
{
	z-index: 38;
	width: 165px;
	min-height: 24px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 216px;
}

#widgetu17235.frm-subm-err-st #u17240-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 28px;
}

#widgetu17235.frm-subm-err-st #u17240-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u17262-4
{
	z-index: 42;
	width: 165px;
	min-height: 13px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 216px;
}

#widgetu17235.frm-subm-ok-st #u17262-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 17px;
}

#widgetu17235.frm-subm-ok-st #u17262-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u17263-17
{
	z-index: 46;
	min-height: 30px;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 216px;
	background: url("../../images/u17263-17.png") no-repeat 0px 0px;
}

#u17263-17:hover
{
	background: url("../../images/u17263-17-r.png") no-repeat 0px 0px;
}

#u17263-17:active
{
	background: url("../../images/u17263-17-m.png") no-repeat 0px 0px;
}

#widgetu17235.frm-sub-st #u17263-17
{
	background: url("../../images/u17263-17-fs.png") no-repeat 0px 0px;
}

#widgetu17236
{
	z-index: 63;
	width: 361px;
	height: 54px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 2px;
}

#widgetu17236.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 361px;
	height: 54px;
	min-height: 0px;
	margin: 141px -10000px 0px 0px;
}

#u17238-4
{
	z-index: 64;
	width: 342px;
	min-height: 42px;
	border-color: #54B6D1;
	background-color: #6E6E6F;
	color: #54B6D1;
	line-height: 42px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 13px;
}

#widgetu17236.non-empty-st #u17238-4
{
	background-color: #FFFFFF;
}

#widgetu17236:hover #u17238-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17236.focus-st #u17238-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17246.fld-err-st #u17248-4,#widgetu17242.fld-err-st #u17243-4,#widgetu17236.fld-err-st #u17238-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 42px;
	width: 342px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17236.non-empty-st #u17238-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17236:hover #u17238-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17236.focus-st #u17238-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu17246.fld-err-st #u17248-4 *,#widgetu17242.fld-err-st #u17243-4 *,#widgetu17236.fld-err-st #u17238-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu17246_input,#widgetu17246_prompt,#widgetu17242_input,#widgetu17242_prompt,#widgetu17236_input,#widgetu17236_prompt
{
	width: 342px;
	min-height: 42px;
	color: #54B6D1;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	padding: 6px 6px 6px 13px;
}

#widgetu17236.focus-st #widgetu17236_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu17246:hover #widgetu17246_input,#widgetu17246.focus-st #widgetu17246_input,#widgetu17246.fld-err-st #widgetu17246_input,#widgetu17246:hover #widgetu17246_prompt,#widgetu17246.focus-st #widgetu17246_prompt,#widgetu17246.fld-err-st #widgetu17246_prompt,#widgetu17242:hover #widgetu17242_input,#widgetu17242.focus-st #widgetu17242_input,#widgetu17242.fld-err-st #widgetu17242_input,#widgetu17242:hover #widgetu17242_prompt,#widgetu17242.focus-st #widgetu17242_prompt,#widgetu17242.fld-err-st #widgetu17242_prompt,#widgetu17236:hover #widgetu17236_input,#widgetu17236.focus-st #widgetu17236_input,#widgetu17236.fld-err-st #widgetu17236_input,#widgetu17236:hover #widgetu17236_prompt,#widgetu17236.fld-err-st #widgetu17236_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu17246.non-empty-st #widgetu17246_prompt,#widgetu17242.non-empty-st #widgetu17242_prompt,#widgetu17236.non-empty-st #widgetu17236_prompt
{
	visibility: hidden;
}

#widgetu17258
{
	z-index: 68;
	width: 156px;
	height: 42px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 1px;
}

#widgetu17258.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 156px;
	height: 42px;
	min-height: 0px;
	margin: 237px -10000px 0px 0px;
}

#u17259-4
{
	z-index: 69;
	width: 156px;
	min-height: 42px;
	border-color: #000000;
	background-color: #6E6E6F;
	color: #54B6D1;
	text-align: left;
	line-height: 42px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u17260
{
	z-index: 73;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 2px;
}

#u17260 input.checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17260 input.not_checked + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:not(:checked) + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17260 input.not_checked:hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:not(:checked):hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u17260 input.checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu17254
{
	z-index: 74;
	width: 156px;
	height: 42px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
}

#widgetu17254.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 156px;
	height: 42px;
	min-height: 0px;
	margin: 288px -10000px 0px 0px;
}

#u17257-4
{
	z-index: 75;
	width: 156px;
	min-height: 42px;
	border-color: #000000;
	background-color: #6E6E6F;
	color: #54B6D1;
	text-align: left;
	line-height: 42px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u17255
{
	z-index: 79;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
}

#u17255 input.checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17255 input:checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17255 input.not_checked + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17255 input:not(:checked) + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17255 input.checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17255 input:checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u17255 input.not_checked:hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17255 input:not(:checked):hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu17250
{
	z-index: 80;
	width: 156px;
	height: 42px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
}

#widgetu17250.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 156px;
	height: 42px;
	min-height: 0px;
	margin: 339px -10000px 0px 0px;
}

#u17252-4
{
	z-index: 81;
	width: 156px;
	min-height: 42px;
	border-color: #000000;
	background-color: #6E6E6F;
	color: #54B6D1;
	text-align: left;
	line-height: 42px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu17258.fld-err-st #u17259-4,#widgetu17254.fld-err-st #u17257-4,#widgetu17250.fld-err-st #u17252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 156px;
	margin: 0px -10000px 0px 0px;
}

#widgetu17258.fld-err-st #u17259-4 p,#widgetu17258.fld-err-st #u17259-4 span,#widgetu17254.fld-err-st #u17257-4 p,#widgetu17254.fld-err-st #u17257-4 span,#widgetu17250.fld-err-st #u17252-4 p,#widgetu17250.fld-err-st #u17252-4 span
{
	color: #D7244C;
}

#u17259-2,#u17257-2,#u17252-2
{
	padding-left: 7px;
}

#u17251
{
	z-index: 85;
	width: 16px;
	height: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#u17251 input.checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17251 input:checked + label
{
	background: transparent url("../../images/checkboxchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17251 input.not_checked + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}
#u17251 input:not(:checked) + label
{
	border-color: #44B8E9;
	background: transparent url("../../images/checkboxunchecked.jpg") no-repeat center center;
	background-size: contain;
}

#u17251 input.not_checked:hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17251 input:not(:checked):hover + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u17251 input.checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}
#u17251 input:checked:hover + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u17260 input.not_checked:active + label,#u17255 input.not_checked:active + label,#u17251 input.not_checked:active + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:not(:checked):active + label,#u17255 input:not(:checked):active + label,#u17251 input:not(:checked):active + label
{
	border-color: #44B8E9;
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxuncheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u17260 input.checked:active + label,#u17255 input.checked:active + label,#u17251 input.checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}
#u17260 input:checked:active + label,#u17255 input:checked:active + label,#u17251 input:checked:active + label
{
	width: 16px;
	height: 16px;
	min-height: 0px;
	background: transparent url("../../images/checkboxcheckedmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu17258_input,#widgetu17254_input,#widgetu17250_input
{
	width: 16px;
	height: 16px;
}

#pamphletu17264
{
	z-index: 86;
	width: 0.01px;
	height: 81px;
	padding-bottom: 259px;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 320px;
}

#u17273
{
	position: absolute;
	width: 430px;
}

#u17273popup
{
	z-index: 87;
}

#u17274
{
	z-index: 88;
	width: 430px;
	height: 340px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17278
{
	z-index: 91;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 166px;
}

#pu17277
{
	z-index: 89;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 103px;
}

#u17277
{
	z-index: 0;
	width: 327px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	border-radius: 6px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu17275
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 21px;
	z-index: 2;
	padding-bottom: 25px;
}

#u17275
{
	z-index: 90;
	width: 290px;
	min-height: 243px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u17271
{
	z-index: 92;
	width: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 3px;
}

#u17272
{
	position: absolute;
	width: 51px;
	height: 55px;
	border-color: #DEDEDE;
	background: transparent url("../../images/fb-144%20copy.png") no-repeat left top;
	background-size: cover;
}

#u17272:hover
{
	border-color: #999999;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	width: 51px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/fb-u16364-r-fr.png") no-repeat left top;
	background-size: cover;
}

#u17272:active
{
	border-color: #999999;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 51px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/fb-u16364-r-fr.png") no-repeat left top;
	background-size: cover;
}

#u17272.PamphletThumbSelected
{
	border-color: #999999;
	opacity: 0.18;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
	filter: alpha(opacity=18);
	width: 51px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/fb-u16364-r-fr.png") no-repeat left top;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u17279
{
	z-index: 94;
	min-height: 55px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 28px;
}

#u17280-4
{
	z-index: 95;
	width: 73px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #FFFFFF;
	text-align: left;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 306px;
}

#u17279-bw
{
	z-index: 94;
	min-height: 55px;
	margin-top: 840px;
}

#u17281-4
{
	z-index: 99;
	width: 106px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	color: #FFFFFF;
	text-align: center;
	font-family: goudy-bookletter-1911, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 868px;
	left: 376px;
}

#u17281-4:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 106px;
	margin: 868px -10000px 0px 0px;
}

#u17281
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pamphletu17282
{
	z-index: 103;
	width: 0.01px;
	height: 55px;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 655px;
}

#u17291
{
	position: absolute;
	width: 215px;
	top: 16px;
	left: -220px;
}

#u17291popup
{
	z-index: 104;
}

#u17292
{
	z-index: 105;
	width: 213px;
	height: 264px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-radius: 15px 0px 15px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/mickiewiczpopout.jpg") no-repeat center top;
}

#u17293-4
{
	z-index: 106;
	width: 185px;
	min-height: 21px;
	background-color: transparent;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 13px;
}

#u17285
{
	z-index: 110;
	width: 58px;
	position: relative;
	margin-right: -10000px;
}

#u17286
{
	position: absolute;
	width: 58px;
	height: 55px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

.ie #u17286
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u17286:hover
{
	border-style: none;
	border-color: transparent;
	width: 58px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
}

.ie #u17286:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u17286.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 10px;
	width: 58px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
}

.ie #u17286.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u15735_position_content
{
	margin-top: -1px;
	padding-bottom: 5px;
}

#pu15787
{
	width: 0.01px;
	margin-left: 230px;
	position: relative;
}

#u15787
{
	z-index: 157;
	width: 308px;
	margin-right: -10000px;
}

#u15787_img
{
	padding: 7px 8px 3px 5px;
}

#u15789
{
	z-index: 159;
	width: 33px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 369px;
}

#u15789:hover
{
	width: 33px;
	height: 28px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15789.MuseLinkActive
{
	width: 33px;
	height: 28px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15790
{
	z-index: 160;
	width: 30px;
	height: 28px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 477px;
}

#u15790:hover
{
	width: 30px;
	height: 28px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u15790.MuseLinkActive
{
	width: 30px;
	height: 28px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#menuu15736
{
	z-index: 113;
	width: 736px;
	margin-left: 16px;
	margin-top: 10px;
}

#u15772
{
	width: 73px;
	min-height: 25px;
	margin-right: -10000px;
}

#u15773
{
	width: 73px;
	padding-bottom: 6px;
}

#u15773:hover
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u15773.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15774-4
{
	width: 56px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15773:hover #u15774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u15773.MuseMenuActive #u15774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u15737
{
	width: 111px;
	min-height: 25px;
	margin-right: -10000px;
	left: 75px;
}

#u15740
{
	width: 111px;
	padding-bottom: 6px;
}

#u15740:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u15740.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15742-4
{
	width: 94px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15740:hover #u15742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u15740.MuseMenuActive #u15742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u15779
{
	width: 145px;
	min-height: 25px;
	margin-right: -10000px;
	left: 188px;
}

#u15780
{
	width: 145px;
	padding-bottom: 6px;
}

#u15780:hover
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u15780.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15781-4
{
	width: 128px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15780:hover #u15781-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u15780.MuseMenuActive #u15781-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 128px;
	margin: 0px -10000px 0px 0px;
}

#u15765
{
	width: 131px;
	min-height: 25px;
	margin-right: -10000px;
	left: 335px;
}

#u15768
{
	width: 131px;
	padding-bottom: 6px;
}

#u15768:hover
{
	width: 131px;
	min-height: 0px;
	margin: 0px;
}

#u15768.MuseMenuActive
{
	width: 131px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15771-4
{
	width: 114px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15768:hover #u15771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u15768.MuseMenuActive #u15771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u15758
{
	width: 84px;
	min-height: 25px;
	margin-right: -10000px;
	left: 468px;
}

#u15759
{
	width: 84px;
	padding-bottom: 6px;
}

#u15759:hover
{
	width: 84px;
	min-height: 0px;
	margin: 0px;
}

#u15759.MuseMenuActive
{
	width: 84px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15761-4
{
	width: 67px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15759:hover #u15761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u15759.MuseMenuActive #u15761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u15751
{
	width: 101px;
	min-height: 25px;
	margin-right: -10000px;
	left: 554px;
}

#u15754
{
	width: 101px;
	padding-bottom: 6px;
}

#u15754:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u15754.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15756-4
{
	width: 84px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
	left: 8px;
}

#u15754:hover #u15756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u15754.MuseMenuActive #u15756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u15744
{
	width: 79px;
	min-height: 25px;
	margin-right: -10000px;
	left: 657px;
}

#u15745
{
	width: 79px;
	padding-bottom: 6px;
}

#u15745:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u15745.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u15747-4
{
	width: 79px;
	min-height: 19px;
	margin-right: -10000px;
	top: 3px;
}

#u15745:hover #u15747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u15745.MuseMenuActive #u15747-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u15735,#u15735-bw
{
	z-index: 112;
	min-height: 144px;
}

#u15786
{
	z-index: 156;
	height: 11px;
}

#u15786-bw
{
	z-index: 156;
	margin-top: 144px;
	height: 11px;
}

#u15791
{
	z-index: 161;
	width: 37px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 673px;
}

#u15791:hover
{
	width: 37px;
	height: 27px;
	min-height: 0px;
	margin: 25px -10000px 0px 0px;
}

#u15791.MuseLinkActive
{
	width: 37px;
	height: 27px;
	min-height: 0px;
	margin: 25px -10000px 0px 0px;
}

#u15792
{
	z-index: 162;
	width: 45px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 632px;
}

#u15792:hover
{
	width: 45px;
	height: 36px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
}

#u15792.MuseLinkActive
{
	width: 45px;
	height: 36px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

