.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u15611-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15624-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15598-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15630-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15603-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15616-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15592-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15427-4,#u15431-4,#u15435-4
{
	font-family: chunk-n4, serif;
}

#u15562-4,#u15563-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

