.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u15774-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15781-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15771-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15761-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15756-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15747-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u17231-4
{
	font-family: source-sans-pro-i7, sans-serif;
}

#u17230-10,#u17234-4,#u17248-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u17243-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u17238-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#widgetu17246_input,#widgetu17246_prompt,#widgetu17242_input,#widgetu17242_prompt,#widgetu17236_input,#widgetu17236_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#widgetu17235.frm-sub-st #u17241-4 p,#u17259-4
{
	font-family: montserrat-n4, sans-serif;
}

#u17257-4
{
	font-family: montserrat-n4, sans-serif;
}

#u17252-4
{
	font-family: montserrat-n4, sans-serif;
}

#u17280-4,#u17281-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u17293-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

