.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u15774-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15781-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15771-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15761-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15756-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15747-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15901-4,#u15902-4,#u15908-4,#u15913-4,#u15903-4,#u15898-4,#u15911-4,#u15844-4,#u16543-4,#u16544-4,#u16548-4,#u16545-4,#u16546-4,#u16547-4,#u15877-4,#u16519-4,#u16520-4,#u16524-4,#u16521-4,#u16522-4,#u16523-4,#u15928-4,#u16567-4,#u16569-4,#u16568-4,#u16570-4,#u16571-4,#u16572-4,#u15950-4
{
	font-family: exo-n5, sans-serif;
}

#u15939-4,#u15947:hover #u15951-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15955-4
{
	font-family: exo-n5, sans-serif;
}

#u15947.PamphletThumbSelected #u15951-4 p,#u15952:hover #u15956-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15960-4
{
	font-family: exo-n5, sans-serif;
}

#u15952.PamphletThumbSelected #u15956-4 p,#u15957:hover #u15961-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15963-4
{
	font-family: exo-n5, sans-serif;
}

#u15957.PamphletThumbSelected #u15961-4 p,#u15962:hover #u15964-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15962:active #u15964-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15962.PamphletThumbSelected #u15964-4 p
{
	font-family: exo-n4, sans-serif;
}

#u15968-6
{
	font-family: exo-n5, sans-serif;
}

#u16340-4
{
	font-family: montserrat-n4, sans-serif;
}

#u16333-4
{
	font-family: montserrat-n4, sans-serif;
}

#widgetu16329.frm-sub-st #u16337-4 p,#u16345-4
{
	font-family: montserrat-n4, sans-serif;
}

#widgetu16338_input,#widgetu16338_prompt,#widgetu16331_input,#widgetu16331_prompt,#widgetu16342_input,#widgetu16342_prompt
{
	font-family: montserrat, sans-serif;
}

#u16372-4,#u16373-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u16377-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

