.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u15774-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15781-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15771-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15761-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15756-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15747-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u17065-4,#u17078-2,#u17089-2,#u17010-2,#u17028-2,#u17047-2,#u17062-2
{
	font-family: exo-n5, sans-serif;
}

#u17078-3,#u17078-5,#u17078-6,#u17078-8,#u17089-3,#u17089-5,#u17089-6,#u17089-8,#u17010-3,#u17010-5,#u17028-3,#u17028-5,#u17047-3,#u17047-5,#u17062-3,#u17062-5
{
	font-family: exo-n4, sans-serif;
}

#u17101-4,#u17102-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

