.bodytext1
{
	font-family: exo-n4, sans-serif;
}

.heading1
{
	font-family: montserrat-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: pt-sans-n7, sans-serif;
}

.H2
{
	font-family: ubuntu-n3, sans-serif;
}

#u15774-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15742-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15781-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15771-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15761-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15756-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u15747-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u17178-4,#u17205-4
{
	font-family: exo-n5, sans-serif;
}

#u17181-4
{
	font-family: exo-n5, sans-serif;
}

#u17185-4
{
	font-family: exo-n5, sans-serif;
}

#u17189-4
{
	font-family: exo-n5, sans-serif;
}

#u17196-4
{
	font-family: exo-n5, sans-serif;
}

#u17193-4
{
	font-family: exo-n5, sans-serif;
}

#u17203-4
{
	font-family: exo-n5, sans-serif;
}

#u17204-4
{
	font-family: exo-n5, sans-serif;
}

#u17436-4
{
	font-family: exo-n5, sans-serif;
}

#u17180-4,#u17183-4
{
	font-family: exo-n5, sans-serif;
}

#u17187-6
{
	font-family: exo-n4, sans-serif;
}

#u17187-2,#u17207-4
{
	font-family: exo-n5, sans-serif;
}

#u17191-4
{
	font-family: exo-n5, sans-serif;
}

#u17198-4
{
	font-family: exo-n5, sans-serif;
}

#u17201-4
{
	font-family: exo-n5, sans-serif;
}

#u17179-4,#u17182-4
{
	font-family: exo-n5, sans-serif;
}

#u17206-4
{
	font-family: exo-n5, sans-serif;
}

#u17192-4
{
	font-family: exo-n5, sans-serif;
}

#u17188-4
{
	font-family: exo-n5, sans-serif;
}

#u17186-4
{
	font-family: exo-n5, sans-serif;
}

#u17195-4
{
	font-family: exo-n5, sans-serif;
}

#u17199-4
{
	font-family: exo-n5, sans-serif;
}

#u17184-4
{
	font-family: exo-n5, sans-serif;
}

#u17194-4
{
	font-family: exo-n5, sans-serif;
}

#u17200-4
{
	font-family: exo-n5, sans-serif;
}

#u17190-4
{
	font-family: exo-n5, sans-serif;
}

#u17202-4
{
	font-family: exo-n5, sans-serif;
}

#u17197-4
{
	font-family: exo-n5, sans-serif;
}

#u17176-4,#u17177-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

#u17213-4,#u17214-4
{
	font-family: goudy-bookletter-1911-n4, serif;
}

